<!--(7) Template con el formulario (simple) que utiliza los reactive forms. Por otro lado, integramos diferentes validaciones de los campos.-->

<br>
hola
<button class="btn btn-md btn-primary">Hola</button>
<button class="btn btn-lg btn-primary">Hola</button>

<div class="aligner">
	<md-card class="aligner-center-item">
		<md-card-title>
			<h3>Formulario de Login</h3>
		</md-card-title>
		<md-card-content>
			<form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
				<!--USERNAME-->
				<md-input-container style="width: 100%; margin-bottom: 10px;"
					[ngClass]="{'mat-input-invalid': submitted && error?.code == 1}">
					Nombre de usuario<br>
					<input mdInput type="text" formControlName="username" placeholder="Username"/>
					<md-hint style="color: red;"
						*ngIf="submitted && error?.code == 1 && !loginForm.controls.username.hasError('required')">
						{{error.message}}</md-hint>
					<md-hint style="color: red;" *ngIf="submitted && loginForm.controls.username.hasError('required')">
						El campo es obligatorio.</md-hint>
				</md-input-container>
				<br><br>
				<!--PASSWORD-->
				<md-input-container style="width: 100%;"
					[ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
					Contraseña<br>
					<input mdInput type="password" formControlName="password" placeholder="Password"/>
					<md-hint style="color: red;"
						*ngIf="submitted && error?.code == 2 && !loginForm.controls.password.hasError('required')">
						{{error.message}}</md-hint>
					<md-hint style="color: red;" *ngIf="submitted && loginForm.controls.password.hasError('required')">
						El campo es obligatorio.</md-hint>
				</md-input-container>
			</form>
		</md-card-content>
		<br>
		<md-card-actions style="text-align: right;">
			<button md-raised-button type="submit" form="login-form">
        Iniciar sesión
      </button>
		</md-card-actions>
	</md-card>
</div>